
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Amatic+SC:wght@400;700&family=Jura:wght@300..700&family=Mate+SC&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Offside&family=Patrick+Hand+SC&family=Playwrite+BE+WAL:wght@100..400&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Rubik+Puddles&family=Stick+No+Bills:wght@200..800&display=swap');

body {
    font-family: "Jura", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #f7f6f2;
    background-color: rgb(43, 43, 43);
    font-size: 14px;
    margin: 10vh;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    position: fixed;
    top: 0;
    left: auto;
    width: 500px;
    height: 50px;
    background-color: hsla(218, 10%, 15%, 0.932);
    padding: 20px;

    box-sizing: border-box;
    border: 1px solid grey;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);

    transition: all 0.3s ease 0.01s;
}

nav:hover {
    transition: all 0.6s ease 0.01s;
    height: 60px;
}

@media (max-height: 500px) {
    nav {
        display: none;
    }
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 5vh;
    background-color: hsla(218, 10%, 15%, 0.932);
    width: fit-content;
    height: fit-content;
    transition: all 0.1s ease 0.1s;
    border: 1px solid grey;
    border-radius: 4px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

main:hover{
    background-color: hsl(214, 9%, 16%);
    transition: all 0.3s ease 0.01s;
}

form.register{    
    border: transparent;
    border-radius: 4px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    ;
}

form {    
    display:flex;
    flex-direction: column;
    align-items: center;
    position:relative;

    margin: 10px;
    padding: 10px;
}

.register{    
    margin: 5px;
    padding: 5px;
    flex-direction: column;
    align-items: flex-start;
}


input, select{
    width: 100px;
    margin: 5px;
    border: 2px solid #2525251c;
    border-radius: 4px;
    text-align: center;

}

input[type="checkbox"]{
    width: fit-content;
    display: inline-block;
    vertical-align: middle;
}

fieldset{
    display:flex;
    flex-direction: column;
    align-items: center;
    position:relative;

    border: 2px solid #d8f9ff7e;
    border-radius: 12px;
    background: transparent;
    padding: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

legend{
    margin: auto;
}

.full{
    width: 100%;
}

.column {    
    flex-direction:column;    
}

.row {    
    flex-direction: row;
}

h2{
    font-weight: normal;
    padding: 5px;
    margin: 0px;
    font-size: 16px;
}
h1{
    font-weight: bold;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
}

a{
    color: #f7f6f2;
    text-decoration: none;
    list-style: none;
    padding: 2px;
    margin: 4px;
}

a:hover{
    color: #c8e0fff6;
}

nav a{
    font-size: 20px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 0.3s ease 0.01s;
}

nav:hover a{
    font-size: 21px;
    transition: all 0.3s ease 0.01s;
}

.btn{
    position: relative;
    color: #b6b6b6;
    border: 2px solid #b6b6b6;
    border-radius: 6px;
    background-color: transparent;
    font-weight: bolder;
    font-size: 16px;

    padding: 10px;
    padding-inline: 13px;
    transition: all 0.1s ease 0.1s;
}

.btn:hover{
    color: #cecece;
    border: 2px solid #cecece;
    cursor: pointer;
    border-radius: 25px;
    transition: all 0.1s ease 0.1s;
}

a.inventory{
    color: hsla(40, 90%, 70%, 0.8);
    border: 2px solid hsla(40, 90%, 70%, 1);
}

a.inventory:hover{
    color: hsla(40, 100%, 80%, 0.8);
    border: 2px solid hsla(40, 100%, 80%, 1);
}

a.rollerskate{
    color: hsla(170, 50%, 50%, 0.8);
    border: 2px solid hsla(170, 50%, 50%, 1);
}

a.rollerskate:hover{
    color: hsla(170, 100%, 80%, 0.8);
    border: 2px solid hsla(170, 100%, 80%, 1);
}

a.event{
    color: hsla(300, 60%, 60%, 0.8);
    border: 2px solid hsla(300, 60%, 60%, 1);
}

a.event:hover{
    color: hsla(300, 100%, 80%, 0.8);
    border: 2px solid hsla(300, 100%, 80%, 0.8);
}

.danger{
    color: hsla(0, 60%, 60%, 0.8);
    border: 2px solid hsla(0, 60%, 60%, 1);
    transition: all 0.1s ease 0.1s;
}

.danger:hover{
    border-radius: 50%;
    color: hsla(0, 100%, 80%, 0.8);
    border: 2px solid hsla(0, 100%, 80%, 1);
    transition: all 0.1s ease 0.1s;
}

.create{
    color: hsla(100, 40%, 60%, 0.8);
    border: 2px solid hsla(100, 40%, 60%, 1);

}

.create:hover{
    color: hsla(100, 100%, 80%, 1);
    border: 2px solid hsla(100, 100%, 80%, 1);

}

.update{
    color: hsla(197, 60%, 60%, 1);
    border: 2px solid hsla(197, 60%, 60%, 1);
    transition: all 0.1s ease 0.1s;
}

.update:hover{
    border-radius: 50%;
    color: hsla(197, 100%, 80%, 1);
    border: 2px solid hsla(197, 100%, 80%, 1);
    transition: all 0.1s ease 0.1s;
}
table.form {
    border-collapse: collapse;
    width: fit-content;
    margin-top: 5px;
    margin-bottom: 5px;   
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

table.form tbody tr {
    flex-direction: row;
}


table {
    border-collapse: collapse;
    height: fit-content;
    text-align: center;
    margin: 5px;
    margin:30px;
    justify-content: start;    
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
}

.scroll-table{
    max-height:400px;
    overflow-y: auto;
}


td {
    background: transparent;
    box-sizing: border-box;
    border: 1px solid hsla(0, 0%, 48%, 0.938);
}

th {
    position: sticky;
    background-color: hsl(218, 6%, 26%);
    outline: 1px solid hsla(0, 0%, 48%, 0.938);
    color: #fff;
    padding : 20px;
    z-index: 1;
    top: 0px;
    font-weight: 400;
    width: max-content;
    box-sizing: border-box;
}

/*alterne dans le tableau la couleur entre chaque rangé*/
tbody tr:nth-child(even) {
    background-color: hsla(202, 5%, 53%, 0.1);
}

td{
    padding: 30px 10px;
}



.red{
    color: hsla(0, 60%, 60%, 1);
}

.inventory{
    color: hsla(40, 90%, 70%, 1);
}

.rollerskate{
    color: hsla(170, 50%, 50%, 1);
}

.event{
    color: hsla(300, 60%, 64%, 0.8);
}