{% extends "Inventory/base.html" %}

{% block title %}{{event.name}} Event{% endblock %}

{% block content %}
    <h1 class="event">{{ event.name }}</h1>
    <div class="scroll-table column">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Sizes</th>
                    <th>Availability</th>
                </tr>
            </thead>
            <tbody>
                {% for inventory in event.inventories.all %}
                    {% for rollerskate in inventory.rollerskates.all %}
                        <tr>
                            <td><a class="rollerskate">{{ rollerskate.name }}</a></td>
                            {%if rollerskate.size_min == rollerskate.size_max %}
                                <td>{{ rollerskate.size_min }}</td>
                            {% else %}
                                <td>{{ rollerskate.size_min }}-{{ rollerskate.size_max }}</td>
                            {% endif %}
                            <td></td>
                        </tr>
                    {% empty %}
                                    <td><p class="danger">X</p></td>
                                    <td><p class="danger">X</p></td>
                                    <td><p class="danger">X</p></td>
                                </tbody>
                                <caption class="danger">Warning : No Roller-Skates Found inside {{ inventory.name }}</caption>
                            </table>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>  
    <a class="btn" href="{% url "event-list" %}">Return</a>
{% endblock %}
