{% extends "RollerSkateInventory/base.html" %}

{% block title %}{{event.name}} Event{% endblock %}

{% block content %}
  <h1 class="event">{{ event.name }}</h1>
  <table>
    <thead>
        <tr>
            <th>Start_Time</th>
            <th>End_Time</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
    <tbody>
        <tr>
            <td>{{ event.start_time }}</td>
            <td>{{ event.end_time }}</td>
            <td>
                <a class="btn update" href="{% url 'event-update' event.id %}">&#9998</a>
                <a class="btn danger" href="{% url 'event-delete' event.id %}">&#10005</a>
            </td>        
        </tr>
    </tbody>    
    </table>
    
    <h1 class="rollerskate">Roller-Skates</h1>
    <table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Sizes</th>
            <th>Barcode</th>
            <th>Options</th>
        </tr>
    </thead>
    {% for inventory in event.inventories.all %}
        <tbody>
            {% for rollerskate in inventory.rollerskates.all %}
                <tr>
                    <td class="rollerskate">{{ rollerskate.name }}</a></td>
                    {%if rollerskate.size_min == rollerskate.size_max%}
                        <td>{{ rollerskate.size_min }}</td>
                    {% else %}
                        <td>{{ rollerskate.size_min }}-{{ rollerskate.size_max }}</td>
                    {% endif %}
                    <td>{{ rollerskate.barcode }}</td>
                    <td>
                        <a class="btn" href="#">Availability</a>
                    </td>
                </tr>
                {% empty %}
                    </tbody>
                </table>
                <p class="red">No Roller-Skates Found</p>
            {% endfor %}
        </tbody>
    {% endfor %}
</table>
                
<a class="btn" href="{% url 'event-list' %}">Return</a>
{% endblock %}
