{% extends "RollerSkateInventory/base.html" %}

{% block title %}Events{% endblock %}

{% block content %}
<h1>- Events -</h1>
  <a class="btn event" href="{% url 'event-create'%}">+ Add Event +</a>
  <table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Start at</th>
            <th>End at</th>
            <th>Inventories</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
      {% for event in events %}
      <tr class="clickable-row" data-href="{%url 'event-detail' event.id%}">
          <td><a class="btn event" href="{% url 'event-detail' event.id %}">{{ event.name }}</a></td>     
          <td>{{ event.date }}</td>
          <td>{{ event.start_time }}</td>
          <td>{{ event.end_time }}</td>
          <td>
            {% for inventory in event.inventories.all %}
            <a class="btn inventory" href="{% url 'inventory-detail' inventory.id %}">{{inventory.name}}</a>
            {% endfor %}
          </td>
          <td>
            <a class="btn update" href="{% url 'event-update' event.id %}">&#9998</a>
            <a class="btn danger" href="{% url 'event-delete' event.id %}">&#10005</a>
          </td>        
      </tr>
      {% empty %}
          </tbody>
        </table>
        <p class="danger">Warning : No Event Found</p>
      {% endfor %}
    </tbody>
  </table>
  <a class="btn" href="{% url 'home'%}">Return Home</a>
{% endblock %}
