{% extends 'Inventory/base.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}

  <p>{{title}}</p>
  <h2 class="{{class}}"> {{object}}</h2>
  <form class="column" method="post">
    {% csrf_token %}
      <table class="form">
        {{form.as_table}}
      </table>
      <br></br>
      <div class="row">
        <button class="btn create" type="submit">{{button_name}}</button>
        <a class="btn" href="{{ cancel }}">Cancel</a>            
      </div> 
  </form> 
{% endblock %}