{% extends "RollerSkateInventory/base.html" %}

{% block title %}{{inventory.name}} Inventory{% endblock %}

{% block content %}
  <h2>{{inventory.name}}</h2>
  <table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Sizes</th>
            <th>Barcode</th>
            <th>Option</th>
        </tr>
    </thead>
    <a class="btn create" href="{% url 'rollerskate-create' inventory.id %}">+ Add Roller-Skate</a>
    <tbody>
        {% for rollerskate in inventory.rollerskates.all %}
          <tr>
              <td><a class="btn rollerskate" href="{%url 'rollerskate-detail' inventory.id rollerskate.id%}">{{ rollerskate.name }}</a></td>
              {%if rollerskate.size_min == rollerskate.size_max%}
                <td>{{ rollerskate.size_min }}</td>
              {% else %}
                <td>{{ rollerskate.size_min }}-{{ rollerskate.size_max }}</td>
              {% endif %}
              <td>{{ rollerskate.barcode }}</td>
              <td>
                <a class="btn update" href="{% url 'rollerskate-update' inventory.id rollerskate.id %}">&#9998</a>
                <a class="btn danger" href="{% url 'rollerskate-delete' inventory.id rollerskate.id %}">&#10005</a>
              </td>
          </tr>
        {% empty %}
            </tbody>
          </table>
          <p class="red-text">No Roller-Skates Found</p>
        {% endfor %}
    </tbody>
  </table>
  <a class="btn" href="{% url 'inventory-list' %}"> Go Back</a>
{% endblock %}
