{% extends "RollerSkateInventory/base.html" %}

{% block title %}{{inventory.name}} Inventory{% endblock %}

{% block content %}
  <h2>{{rollerskate.name}}</h2>
  <table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Barcode</th>
            <th>Inventory</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td><a class="btn rollerskate" href="{%url 'rollerskate-detail' rollerskate.inventory.id rollerskate.id%}">{{ rollerskate.name }}</a></td>
                {%if rollerskate.size_min == rollerskate.size_max%}
                  <td>{{ rollerskate.size_min }}</td>
                {% else %}
                  <td>{{ rollerskate.size_min }}-{{ rollerskate.size_max }}</td>
                {% endif %}
                <td>{{ rollerskate.barcode }}</td>
                <td><a class="btn inventory" href="{% url 'inventory-detail' rollerskate.inventory.id %}">{{ rollerskate.inventory.name }}</a></td>
                <td>
                    <a class="btn update" href="{% url 'rollerskate-update' rollerskate.inventory.id rollerskate.id %}">Modify</a>
                    <a class="btn danger" href="{% url 'rollerskate-delete' rollerskate.inventory.id rollerskate.id %}">Delete</a>
                </td>
            </tr>
    </tbody>
  </table>
  <a class="btn" href="{% url 'inventory-detail' rollerskate.inventory.id %}">Go Back</a>
{% endblock %}
